    <form action="/updateUser/<%= data.username %>" method="post">
        <div>
            <label for="">
                Fullname
            </label>
            <input type="text" name="fullname" id="fullname" value="<%= data.fullname %>">
        </div>
        <div>
            <label for="">
                Address
            </label>
            <input type="text" name="address" id="address" value="<%= data.address %>">
        </div>
        <div>
            <label for="">
                Email
            </label>
            <input type="text" name="email" id="email" value="<%= data.email %>">
        </div>
        <button type="submit">
            Submit

        </button>
    </form>