<table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Tài khoản</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Email</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Quyền</th>
        <th scope="col">Cấu hình</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Nguyễn Hoàng Vĩnh</td>
        <td>nhvinh2000553</td>
        <td>Nam</td>
        <td>suprecute272@gmail.com</td>
        <td>An Giang</td>
        <td>User</td>
        <td class="d-flex gap-2">
          <a href="#">
            <i class="fa fa-eye"></i>
          </a>
          <a href="#">
            <i class="fa fa-edit"></i>
          </a>
          <a href="#">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Trần Quốc Vinh</td>
        <td>TQvinh</td>
        <td>Nam</td>
        <td>tqviinh@gmail.com</td>
        <td>Bến Tre</td>
        <td>User</td>
        <td class="d-flex gap-2">
          <a href="#">
            <i class="fa fa-eye"></i>
          </a>
          <a href="#">
            <i class="fa fa-edit"></i>
          </a>
          <a href="#">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>